@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Sacramento&display=swap');
:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:rgba(255, 255, 255, 0.966);
}

header {
    background: var(--main-bg-color);
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


nav ul li {
    list-style: none;
    padding: 0 23px;
 }
  

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;

}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0  16px 0 56px;
    padding: 0 10px;

}

.search button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.container {
    height: 500px;
}

.slider {
    display: flex;
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.slider img {
    height: 450px;
    width: 1200px;
}

.card {
    max-width: 91vw;
    margin: auto;
    display: inline-block;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    padding: 17px;
}


.card h2 {
    font-family: 'Montserrat', sans-serif;
}

.my-2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-item img {
    height: 100px;
    width: 100px;
    display: flex;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Montserrat', sans-serif;
}